@import "scss/breakpoints";
@import "scss/variables";
@import "scss/mixins";

.sizeGuide {
  margin-top: -$marginUnit;
  min-width: 40rem;
  min-height: 25vh;
  max-height: 90vh;
  justify-content: space-between;
  align-self: center;

  .unitWrapper {
    gap: $marginUnit;

    .switch {
      font-weight: bold;
    }
  }

  @include mediaQuery(mobile) {
    min-width: unset;
    max-height: 80vh;
    width: 70vw;
  }

  overflow: auto;
  @include thinScrollBar();
}
