@import "scss/variables";
@import "scss/mixins";

.cart {
  :global(.mantine-Drawer-title) {
    width: 100%;
  }

  :global(.mantine-Drawer-header) {
    border-bottom: 1px solid $secondaryBack;
    padding-bottom: $baseUnit;
    margin-bottom: 0;
  }

  h3 {
    letter-spacing: 0.5px;
    font-weight: 600;
  }

  :global(.mantine-Drawer-drawer) {
    display: flex;
    flex-direction: column;
    width: $cartWidth;

    @include mediaQuery(mobile) {
      width: $cartSmallWidth;
    }

    @include mediaQuery(smallishTablet) {
      width: $cartSmallWidth;
    }

    @include mediaQuery(tabletSmall) {
      width: $cartSmallWidth;
    }
  }

  :global(.mantine-Drawer-body) {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 $marginUnit * -1;

    @include breakpoint(mobile, landscape) {
      display: block;
      margin-bottom: -$marginUnit;
      padding-bottom: $marginUnit;
    }
  }

  .productsWrapper {
    flex: 1;
    overflow: auto;
    padding: $marginUnit;
  }

  .bottom {
    margin: 0 $marginUnit;

    a {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

.showLessBtn {
  position: absolute;
  top: 0;
  right: 0;
}
