@import "scss/breakpoints";
@import "scss/variables";

.productCard {
  width: 100%;
  height: auto;
  gap: $baseUnit;

  .firstGroup {
    justify-content: space-between;

    @include mediaQuery(desktop) {
      flex-direction: row;
    }
  }

  .title {
    font-size: 1.6rem;
    text-align: left;
  }

  .preview {
    overflow: hidden;

    .productImage {
      width: 100%;
      height: auto;
      transition: all 1s;
      transform: scale(1.05);
    }

    .mobileActions {
      position: absolute;
      top: $paddingUnit;
      right: $paddingUnit;
      justify-content: center;
      align-items: flex-end;
    }

    .overlay {
      transition: all 400ms;
      opacity: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(255 255 255 / 70%);
      backdrop-filter: blur(1rem);
      margin: $baseUnit;
      border-radius: 5px;
      gap: 0;

      > div {
        padding-top: $paddingUnit;
        align-items: center;
        gap: $baseUnit;
        justify-content: center;

        p {
          text-align: center;
          font-size: 1.6rem;
          font-weight: bold;
          text-transform: uppercase;
        }

        > svg {
          top: -2px;
          position: relative;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 100%;
      }
    }
  }

  &:hover {
    .preview {
      .productImage {
        transform: scale(1);
      }
    }
  }
}
