@import "scss/mixins";
@import "scss/variables";
@import "scss/keyframes";

.banner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

  &[data-is-device="mobile"] {
    @media (orientation: portrait) {
      &[data-is-device="mobile"] {
        .content {
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 35rem;
          background: radial-gradient(circle, rgb(0 0 0 / 30%) 84%, rgb(0 0 0 / 0%) 90%);

          h2 {
            background: unset;
            font-size: 4rem;
            line-height: 4.2rem;
          }
        }
      }

      &[data-is-device="tablet"] {
        .content {
          width: fit-content;
          background: radial-gradient(circle, rgb(0 0 0 / 30%) 84%, rgb(0 0 0 / 0%) 90%);
          align-self: flex-end;
          margin-bottom: 5%;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    @media (orientation: landscape) {
      &[data-is-device="mobile"] {
        .content {
          width: 90%;
          height: 90%;
          background: radial-gradient(circle, rgb(0 0 0 / 30%) 84%, rgb(0 0 0 / 0%) 90%);
          align-self: center;

          h2 {
            background: unset;
          }
        }
      }

      &[data-is-device="tablet"] {
        .content {
          width: 80%;
          background-color: rgb(0 0 0 / 50%);
          align-self: flex-end;
          margin-bottom: 5%;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .overlay {
    @include animate(opacity-in, 2s, 0s, forwards, $cubicBezier_0);

    animation-direction: reverse;
  }

  img {
    width: 100%;
    height: auto;
  }

  .content {
    z-index: 10;
    max-width: 80rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: $marginUnit;
    margin: auto;
    min-height: 50%;

    @include breakpoint(mobile, portrait) {
      top: 0;
    }

    @include breakpoint(mobile, landscape) {
      top: 0;
    }

    @include animate(slide-in-bottom, 1s, 0, forwards, $cubicBezier_0);

    text-shadow: 2px 2px 4px rgb(0 0 0 / 84%);

    h2 {
      font-size: clamp(1.5rem, 2.6rem, 2.6rem);
      background: radial-gradient(circle, rgb(0 0 0 / 30%) 84%, rgb(0 0 0 / 0%) 99%);
      padding: 1rem 2rem;
    }

    @include mediaQuery(mobile) {
      h2 {
        max-width: 70%;
      }
    }

    .actions {
      @include mediaQuery(mobile) {
        margin-bottom: $baseUnit;

        a {
          width: 100%;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}
