@import "scss/breakpoints";
@import "scss/variables";

.productInfo {
  [data-naked="true"] {
    opacity: 100%;
    display: inline-block;

    &:hover {
      opacity: 70%;
    }
  }

  .title {
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }

  .priceSecondary {
    width: 100%;
  }

  p {
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
    text-align: left;

    @include mediaQueryDevice(desktop) {
      text-align: right;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5rem;
      text-align: left;
      text-transform: capitalize;

      span {
        font-weight: 300;
      }
    }
  }

  .status {
    p {
      font-size: 1.2rem;
      line-height: 1rem;
      margin-top: 3px;
    }
  }

  @include mediaQuery(mobile) {
    .price {
      flex-direction: column;
      gap: $paddingUnit;
    }
  }
}
