@import "scss/variables";
@import "scss/mixins";
@import "scss/keyframes";

.suggestProducts {
  &[data-fixed="true"] {
    position: fixed;
    top: 0;
    right: $drawerWidth;
    left: 0;
    bottom: 0;
    width: 50vw;
    z-index: $zIndexMax + 1;
    background-color: $secondaryBack;
    padding: $marginUnit;
    height: fit-content;
    margin: auto;
    opacity: 0%;

    @include mediaQuery(mobile) {
      right: $drawerSallestWidth;
    }

    @include mediaQuery(smallishTablet) {
      right: $drawerSmallWidth;
    }

    @include mediaQuery(tabletSmall) {
      right: $drawerSmallWidth;
    }
  }

  &[data-solo="true"] {
    max-width: 40rem;

    @media (max-width: 660px) {
      display: none;
    }

    @include mediaQuery(tablet) {
      max-width: 35rem;
    }

    @include mediaQuery(smallishTablet) {
      max-width: 25rem;
    }
  }

  @include animate(pop-in-with-opacity, 400ms, 300ms, forwards);
}
