@import "scss/mixins";

.wave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  pointer-events: none;

  &[data-position="top"] {
    top: -1px;
  }

  &[data-position="bottom"] {
    bottom: -1px;
  }

  @include unselectable();
}
