@import "scss/variables";

.status {
  gap: $baseUnit;

  &[data-variant="normal"] {
    p {
      color: $textPrimary;
    }
  }

  &[data-variant="red"] {
    p {
      color: $red;
    }
  }

  &:not([data-variant="no-text-format"]) {
    font-size: 1.2rem;
    font-weight: bold;

    p {
      text-transform: uppercase;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
